---
import { getCollection } from 'astro:content';
import FormattedDate from '../../components/FormattedDate.astro';
import { render } from 'astro:content';
import Page from '../../layouts/Default.astro';

export async function getStaticPaths() {
	const posts = await getCollection('blog');
	return posts.map((post) => ({
		params: { slug: post.id },
		props: post,
	}));
}

const post = Astro.props;
const { Content } = await render(post);
---
	
<Page
	title={post.data.title}
	description={post.data.description}
	heroImage={post.data.heroImage}
>
	<article>
		<div class="prose">
			<div class="title">
				<h1>{post.data.title}</h1>
				<div class="date">
					<FormattedDate date={post.data.datePublished} />
					{
						post.data.dateUpdated && (
							<div class="last-updated-on">
								Last updated on <FormattedDate date={post.data.dateUpdated} />
							</div>
						)
					}
				</div>
				<hr />
			</div>
			<Content />
		</div>
	</article>
</Page>

<style>
	main {
		width: calc(100% - 2em);
		max-width: 100%;
		margin: 0;
	}
	.prose {
		width: 720px;
		max-width: calc(100% - 2em);
		margin: auto;
		padding: 1em;
		color: rgb(var(--gray-dark));
	}
	.title {
		margin-bottom: 0.5em;
		padding: 1em 0;
		text-align: center;
		line-height: 1;
	}
	.title h1 {
		margin: 0 0 1em 0;
	}
	.date {
		margin-bottom: 1em;
		color: rgb(var(--gray));
	}
	.last-updated-on {
		font-style: italic;
	}
</style>